
<div class="container">
  <h1>All guests</h1>

    <div class="card m-3">
      <div class="card-header">
        <%= @guests.count %> personnes
      </div>
      <div class="card-body">
        <p class="card-text">Listes des invités :</p>
          <ul>
            <% @guests.each do |guest| %>
              <li><%= guest.first_name %> <%= guest.last_name %> (<%= guest.family.name %>)</li>
            <% end %>
          </ul>
      </div>
    </div>

<button type="button" class="btn btn-info"><%= link_to "Add guests", new_family_path %></button>

</div>
