
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "All guests by groups", wedding_families_path(@wedding), class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "All guests by persons", guests_path(@wedding), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">

  <div class="d-flex justify-content-between">
    <h1 class="beautiful-heading">All guests by groups</h1>
    <button class="btn btn-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add group</button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">New Group</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="card">
          <div class="card-body">
            <%= simple_form_for([@wedding, @family]) do |f| %>
              <div class="mb-3">
                <%= f.input :name, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.input :email, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :guests, "Guests", class: "form-label" %>
                <%= f.abyme_for :guests %>
              </div>
              <div class="d-grid gap-2">
                <%= f.submit "Create Family", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @families.each do |family| %>
      <div class="card growing p-0 m-3 col-lg-3 col-md-4 col-sm-6">
        <div class="card-header">
          <%= family.guests.count %> persons
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= family.name %></h5>
            <span class="cursor-pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEdit-<%= family.id %>" aria-controls="offcanvasRight"><i class="fa-solid fa-pen"></i></span>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEdit-<%= family.id %>" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Edit Group</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="card-body">
                  <%= simple_form_for([@wedding, @family]) do |f| %>
                    <div class="mb-3">
                      <%= f.input :name, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                      <%= f.input :email, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                      <%= f.label :guests, "Guests", class: "form-label" %>
                      <%= f.abyme_for :guests %>
                    </div>
                    <div class="d-grid gap-2">
                      <%= f.submit "Modify Family", class: "btn btn-primary btn-block" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <ul class="hide-last-element">
            <% family.guests.each do |guest| %>
              <li><%= guest.first_name %> <%= guest.last_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

</div>
