
<div class="container">
  <h1>All guests by families</h1>

  <% @families.each do |family| %>
    <div class="card m-3">
      <div class="card-header">
        <%= family.guests.count %> persons
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= family.name %></h5>
        <p class="card-text">Guest list:</p>
          <ul>
            <% family.guests.each do |guest| %>
              <li><%= guest.first_name %> <%= guest.last_name %></li>
            <% end %>
          </ul>
        <button type="button" class="btn btn-1"><%= link_to "Update family", edit_wedding_family_path(@wedding, family) %></button>
      </div>
    </div>
  <% end %>

<button type="button" class="btn btn-2"><%= link_to "Add a family", new_wedding_family_path(@wedding) %></button>

</div>
