<nav class="nav">
  <%= image_tag "W.png", id: "logo" %>
  <div class="nav-upper-options">
    <div class="nav-option option1">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3>Dashboard</h3>
    </div>

    <div class="option2 nav-option">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3>Project</h3>
    </div>

    <div class="nav-option option3">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3> Events </h3>
    </div>

    <div class="nav-option option4">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3> Setting </h3>
    </div>

    <div class="nav-option option5">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3> Profil </h3>
    </div>

    <div class="nav-option option6">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3> Settings</h3>
    </div>

    <div class="nav-option logout">
       <%= image_tag "loupe.png", class: "nav-img" %>
      <h3>Logout</h3>
    </div>

  </div>
</nav>
