<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-gold wedding-navbar">
    <%= link_to root_path, class: "items-centerauto text-decoration-none" do %>
      <%= image_tag "logo.png", id: "sidebar-logo" %>
    <% end %>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="p-1">
        <%= link_to dashboard_path, class: "nav-link #{"active" if controller_name == "pages" && action_name == "dashboard"}" do %>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-house me-3"></i>
            <p>Dashboard</p>
          </div>
        <% end %>
      </li>
      <li class="p-1">
        <%= link_to wedding_families_path(@wedding), data: {turbo: false}, class: "nav-link #{"active" if controller_name == "families" && action_name == "index"}" do %>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-users me-3"></i>
            <p>Guests</p>
          </div>
        <% end %>
      </li>
      <li class="p-1">
        <%= link_to wedding_desks_path(@wedding), class: "nav-link #{"active" if controller_name == "desks" && action_name == "index"}" do %>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-chair me-3"></i>
            <p>Tables</p>
          </div>
        <% end %>
      </li>
    </ul>
    <div class="d-flex align-items-center justify-content-around">
      <%= image_tag "https://images.pexels.com/photos/5876695/pexels-photo-5876695.jpeg?auto=compress&cs=tinysrgb&w=800", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

      <p class="p-2"><%= link_to ('<i class="fa-solid fa-right-from-bracket"></i>').html_safe, destroy_user_session_path, data: { turbo_method: :delete }  %></p>
    </div>
  </div>
</nav>
