<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          New Table
        </div>
        <div class="card-body">
          <%= simple_form_for [@wedding, @desk] do |f| %>
            <%= @desk.errors.full_messages.to_sentence %>
            <div class="mb-3">
              <%= f.label :name, "Table Name:" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :capacity, "Table Capacity:" %>
              <%= f.number_field :capacity, class: "form-control", min: 6, max: 12 %>
            </div>
            <div class="mb-3">
              <%= f.label :shape, "Table Shape:" %>
              <%= f.select :shape, options_for_select([['Square', 'square'], ['Rectangle', 'rectangle']]), {}, class: "form-control" %>
            </div>
            <div class="d-grid gap-2">
              <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
