<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "All tables", wedding_desks_path(@wedding), class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Seating tables", sitting_plan_wedding_path(@wedding), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="container">
  <div class="m3">
<div class="d-flex justify-content-between">
    <h1 class="beautiful-heading"><span class="orange"><%= @desks.count %></span> wedding tables</h1>
    <%= link_to "+", new_wedding_desk_path(@wedding), class: "btn desk-btn-3", aria_controls: "offcanvasRight", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasNewDesk" } %>
    </div>
    <div class="desk-grid">
      <% @desks.each do |desk| %>
        <div class="desk-card">
          <div class="desk-card-left">
            <h3><%= desk.name %></h3>
            <div class="desk-feature">
              <%= image_tag "#{desk.shape.downcase}.svg" %>
              <p><%= desk.shape.capitalize %> table</p>
            </div>
            <div class="desk-feature">
              <%= image_tag "groupe.svg" %>
              <p>Max. <%= desk.capacity %> guests</p>
            </div>
          </div>
          <div class="desk-card-right">
            <div>
              <div class="desk-gauge-container">
                <div class="desk-gauge">
                  <% desk.taken_seats.times do  %>
                    <div class="desk-gauge-item taken"></div>
                  <% end %>
                  <% desk.remaining_seats.times do  %>
                    <div class="desk-gauge-item"></div>
                  <% end %>
                </div>
                <% if desk.remaining_seats.zero? %>
                  <p class="desk-gauge-info"><strong>COMPLETE</strong></p>
                <% else %>
                  <p class="desk-gauge-info"><strong><%= desk.remaining_seats %></strong> seats left</p>
                <% end %>
              </div>
            </div>

            <%= link_to edit_wedding_desk_path(@wedding, desk), class: "desk-cta", aria_controls: "offcanvasRight", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasEdit-#{desk.id}" } do %>
              See guests list<%= image_tag "arrow.svg" %>
            <% end %>
          </div>
        </div>
        <%= render "desk_show", desk: desk, wedding: @wedding %>

      <% end %>
    </div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNewDesk" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    <div class="offcanvas-body">
      <div class="desk-show-title">
        <h5 id="offcanvasRightLabel">New Table</h5>
            <%= simple_form_for [@wedding, @desk] do |f| %>
              <%= @desk.errors.full_messages.to_sentence %>
          <div class="desk-card">
                <%= f.label :name, "Table Name:" %>
                <%= f.text_field :name, class: "desk-features" %>
          </div>
          <div class="desk-card">
                <%= f.label :capacity, "Table Capacity:" %>
                <%= f.number_field :capacity, class: "desk-features", min: 6, max: 12 %>
          </div>
          <div class="desk-card">
                <%= f.label :shape, "Table Shape:" %>
                <%= f.select :shape, options_for_select([['Round', 'round'], ['Rectangular', 'rectangular']]), {}, class: "desk-features" %>
          </div>
          <div class="d-grid gap-2">
                <%= f.submit "Submit", class: "tab" %>
          </div>
            <% end %>
        </div>
      </div>
    </div>
</div>

</div>

</div>
