<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "All tables", wedding_desks_path(@wedding), class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Seating tables", sitting_plan_wedding_path(@wedding), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="m3">
    <h1>All my tables</h1>
    <div class="desk-grid">
      <% @desks.each do |desk| %>
        <div class="desk-card">
          <div class="desk-card-left">
            <h3><%= desk.name %></h3>
            <div class="desk-feature">
              <%= image_tag "table.svg" %>
              <p><%= desk.shape.capitalize %> table</p>
            </div>
            <div class="desk-feature">
              <%= image_tag "groupe.svg" %>
              <p>Max. <%= desk.capacity %> guests</p>
            </div>
          </div>
          <div class="desk-card-right">
            <div>
              <div class="desk-gauge-container">
                <div class="desk-gauge">
                  <% desk.taken_seats.times do  %>
                    <div class="desk-gauge-item taken"></div>
                  <% end %>
                  <% desk.remaining_seats.times do  %>
                    <div class="desk-gauge-item"></div>
                  <% end %>
                </div>
                <p class="desk-gauge-info"><strong><%= desk.remaining_seats %></strong> seats left</p>
              </div>
            </div>

            <%= link_to edit_wedding_desk_path(@wedding, desk), class: "desk-cta", aria_controls: "offcanvasRight", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasEdit-#{desk.id}" } do %>
              See guests list<%= image_tag "arrow.svg" %>
            <% end %>
          </div>
        </div>
        <%= render "desk_show", desk: desk, wedding: @wedding %>

      <% end %>
    </div>

    <%= link_to "Add a table", new_wedding_desk_path(@wedding), class: "btn btn-info", aria_controls: "offcanvasRight", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasNewDesk" } %>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNewDesk" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">New Table</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="card">
          <div class="card-body">
            <%= simple_form_for [@wedding, @desk] do |f| %>
              <%= @desk.errors.full_messages.to_sentence %>
              <div class="mb-3">
                <%= f.label :name, "Table Name:" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :capacity, "Table Capacity:" %>
                <%= f.number_field :capacity, class: "form-control", min: 6, max: 12 %>
              </div>
              <div class="mb-3">
                <%= f.label :shape, "Table Shape:" %>
                <%= f.select :shape, options_for_select([['Square', 'square'], ['Rectangle', 'rectangle']]), {}, class: "form-control" %>
              </div>
              <div class="d-grid gap-2">
                <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
