<div class="container" data-controller="countdown" data-countdown-date-value="<%= @wedding.countdown_date %>">
  <h1 class="beautiful-heading">Hello Lucie, your wedding is in <span class="orange" id="demo"></span></h1>
  <hr class="my-4">
</div>

<div class="container dashboard-grid">


  <div class="div">
    <h2 class="beautiful-heading">Celebration</h2>
    <div class="date">
      <p class="ymd">Sept 15, 2023</p>
      <p class="place"> <i class="fa-solid fa-location-dot"> </i><%= @wedding.city_hall %></p>
    </div>
  </div>

  <div class="div">
    <h2 class="beautiful-heading">Spouses</h2>
    <div class="spouse-card">
      <p class="pro">Ms & Mr</p>
      <p class="name">Lucie Petit & Jean Legros</p>
    </div>
  </div>

  <div  class="div">
    <h2 class="beautiful-heading">Location</h2>
    <div style="width: 100%; height: 236px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="div d-flex justify-content-between">
    <div class="w-100 me-3">
      <h2 class="beautiful-heading">Guests</h2>
      <div class="stats-card">
        <p class="stat"><%= @wedding.guests.count %></p>
        <p class="stat-info">Guests</p>
      </div>
    </div>
    <div class="w-100 ms-3">
      <h2 class="beautiful-heading">Tables</h2>
      <div class="stats-card">
        <p class="stat"><%= @wedding.desks.count %></p>
        <p class="stat-info">Tables</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="beautiful-heading">Dress code</h2>
  <div class="container dashboard-grid-three">

    <div class="spouse-card-pic align-items-center d-flex flex-column justify-content-center text-center square">
      <h3>Blue</h3>
    </div>

    <div class=" align-items-center d-flex flex-column justify-content-center text-center square">
      <img src="<%= image_path "robeb.jpg" %>" class="d-block dress-img-carousel" alt="...">
    </div>

    <div class="spouse-card-pic align-items-center d-flex flex-column justify-content-center text-center square">
      <h3>Chic</h3>
    </div>

    <div class=" align-items-center d-flex flex-column justify-content-center text-center square">
      <img src="<%= image_path "costumeb.jpg" %>" class="d-block dress-img-carousel" alt="...">
    </div>

    <div class="spouse-card-pic align-items-center d-flex flex-column justify-content-center text-center square">
      <h3>Fancy</h3>
    </div>

    <div class=" align-items-center d-flex flex-column justify-content-center text-center square">
      <img src="<%= image_path "escarpinb.jpg" %>" class="d-block dress-img-carousel" alt="...">
    </div>

  </div>
</div>
