<div class="container dashboard-grid">
  <div class="div" data-controller="countdown" data-countdown-date-value="<%= @wedding.countdown_date %>">
    <h2>Wedding Date</h2>
    <div class="date">
      <p id="demo"></p>
      <p class="ymd">Sept 15, 2023</p>
      <p class="place"> <i class="fa-solid fa-location-dot"> </i><%= @wedding.city_hall %></p>
    </div>
  </div>

  <div class="div">
    <h2>Spouses</h2>
    <div class="spouse-card">
      <p class="pro">Ms & Mr</p>
      <p class="name">Lucie Petit & Jean Legros</p>
    </div>
  </div>
</div>

<div class="container dashboard-grid">
  <div class="div">
    <h2>Total Guests</h2>
    <div class="stats-card">
      <p class="stat">50</p>
      <p class="stat-info">Guests</p>
    </div>
  </div>

  <div class="">
    <h2>Dress Code</h2>
    <div id="carouselDashboard" class="carousel slide" data-interval="false">
      <div class="carousel-inner dashboard-carousel">
        <div class="carousel-item active dashboard-carousel">
          <img src="<%= image_path "robeb.jpg" %>" class="d-block dress-img-carousel" alt="...">
        </div>
        <div class="carousel-item dashboard-carousel">
          <img src="<%= image_path "costumeb.jpg" %>" class="d-block dress-img-carousel" alt="...">
        </div>
        <div class="carousel-item dashboard-carousel">
          <img src="<%= image_path "escarpinb.jpg" %>" class="d-block dress-img-carousel" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselDashboard" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselDashboard" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


</div>
