<%= render "shared/navbarhome" %>

<div class="banner">
  <div class="container">
    <h1> <strong>Wedding</strong>  <strong>Success</strong> </h1>
    <p>Plan your wedding in just few clicks.</p>
    <%= link_to "My Wedding",dashboard_path, class: "btn btn-ghost" %>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag"couple.png", class:"d-block w-100", alt:"..."%>
      </div>
      <div class="carousel-item">
        <%= image_tag"photo4.jpg", class:"d-block w-100", alt:"..."%>
      </div>
      <div class="carousel-item">
        <%= image_tag"photo1.jpg", class:"d-block w-100", alt:"..."%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1663016588863-c6a7a4891989?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=natali-hordiiuk-F-hjJkR2PmQ-unsplash.jpg)">
      Build your wedding
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1631133961299-4bbfedcac74e?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=filipp-romanovski-p89ud3EfIi0-unsplash.jpg)">
      More Info
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1599947639832-469d35326568?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=nina-hill-2n7DBujSttY-unsplash.jpg)">
      Reviews
    </div>
  </div>
</div>


<%= render "shared/footer" %>
