<%= render "shared/navbarhome" %>

<div class="banner">
  <div class="container">
    <h1> <strong>Wedding Success</strong> </h1>
    <p>Plan your wedding in just few clicks</p>
    <%= link_to "START NOW", dashboard_path, class: "btn btn-ghost" %>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag"pexel2.jpg", class:"d-block w-100", alt:"..."%>
      </div>
      <div class="carousel-item">
        <%= image_tag"pexel5.jpg", class:"d-block w-100", alt:"..."%>
      </div>
      <div class="carousel-item">
        <%= image_tag"pexel6.jpg", class:"d-block w-100", alt:"..."%>
      </div>
    </div>
  </div>
</div>

<div class="containerhome">
  <div class="row m-3 align-items-center justify-content-around">
    <div class="col-sm-4 rounded d-block container-img-home">
      <%= image_tag"pexel3.jpg", class:"center d-block w-100 img-home", alt:"..."%>
    </div>
    <div class="col-sm-4">
      <h2>All-in-One Weeding Solution</h2>
      <p>From finding the perfect venue to selecting vendors, managing your guest list, and tracking your budget, [Your Platform Name] is your one-stop destination for everything you need to organize an unforgettable wedding. Every wedding is unique, and we understand that. With our platform, you can customize every detail to match your vision and style.</p>
    </div>
  </div>
  <div class="row m-3 align-items-center justify-content-around">
    <div class="col-sm-4">
      <h2>Stress-Free Weeding Planning</h2>
      <p>Expert Guidance: Our team of experienced wedding planners and experts is here to provide you with guidance, tips, and inspiration, ensuring that your wedding day is as perfect as you've always imagined. Say goodbye to wedding planning stress. Our intuitive tools and resources make the entire process seamless and enjoyable, allowing you to focus on what truly matters—celebrating your love.</p>
    </div>
    <div class="col-sm-4 rounded d-block container-img-home">
      <%= image_tag"pexel1.jpg", class:"center d-block w-100", alt:"..."%>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
