<div class="card m-3" style="width: 18rem;">
  <div class="card-header">
    Available Tables
  </div>
  <ul class="list-group list-group-flush">
    <% @desks.each do |desk| %>
      <li class="list-group-item">
        <p> <%= desk.name %> : <%= desk.guests.count %> / <%= desk.capacity %> places </p>
        <div class="form-group">
          <%= form_for([@wedding, desk], remote: true) do |f| %>
            <%= f.collection_select :guest_ids, @pending_guests, :id, :full_name, {}, { multiple: true, class: 'form-control' } %>
            <%= f.submit "Assign", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
